* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

.navbar-nav .nav-link.active {
    color: rgb(12, 123, 250);
}

/* h1::first-line{
    color: rgb(12, 123, 250);
} */
.carrusel{
    margin-top: -7px;
}


.card-body:hover {
    transform: scale(1.10);
    background-color: rgba(43, 41, 41, 0.295);
    color: rgb(0, 0, 0);
}

.form-select {
    font-size: 1.5rem;
}

.form-select:hover {
    color: rgb(12, 123, 250);
    /* background-color: rgb(12, 123, 250); */
}

.btn-form:hover {
    color: black;
    background-color: white;
    border: 2px solid rgb(12, 123, 250);
}

.qs__img{
    margin-top: -7px;
}
/* .vehiculo__search */

/* 
.vehiculo__lupa{
    position: relative;
    top: -30px;
    right: -97%;
} */

/* .vehiculo__buscar:hover{    
    background-color: white;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(12, 123, 250); */
