* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

.navbar-nav .nav-link.active {
    color: rgb(12, 123, 250);
}

/* h1::first-line{
    color: rgb(12, 123, 250);
} */
.carrusel{
    margin-top: -7px;
}


.card-body:hover {

    background-color: rgba(43, 41, 41, 0.295);
    color: rgb(255, 255, 255);
}

.form-select {
    font-size: 1.5rem;
}

.form-select:hover {
    color: rgb(12, 123, 250);
    /* background-color: rgb(12, 123, 250); */
}

.btn-form:hover {
    color: black;
    background-color: white;
    border: 2px solid rgb(12, 123, 250);
}

/*  HEADER */
/* img{
    width: 100%; */
/* }
h1{
    color: rgb(50, 134, 230);
    margin-top: 40%;

} */

/*  CONTACTO  */

/* h2.contacto {
    font-size: 60px;
    margin-top: 50px;
}

h3.servicioPersonalizado {
    font-size: 40px;
    color: rgb(0, 128, 233);
    margin-left: 60px;
}

div.caja1 {
    margin-top: 50px;
    margin-left: 50px;
    border: 2px solid black;
    width: 100%;
    height: 600px;
    padding: 50px;
}

div.caja2 {
    position: relative;
    top: -700px;
    right: -800px;
    margin-top: 100px;
    margin-left: 50px;
    border: 2px solid black;
    width: 100%;
    height: 600px;
    padding: 50px;
}

p.horarios {
    font-size: 24px;
}

p.localidad {
    font-size: 24px;
}

p.telefono {
    font-size: 24px;
}

p.mail {
    font-size: 24px;
}

label {
    font-size: 32px;
}

input.aynText {
    height: 50px;
    width: 100%;
}

div.email {
    position: relative;
    top: -90px;
    right: -550px;
}

input.emailText {
    position: relative;
    top: -90px;
    right: -550px;
    height: 53px;
    width: 100%;
}

input {
    font-size: 24px;
}

div.consulta {
    margin-top: -60px;
}

input.consultaText {
    height: 50px;
    width: 1000px;
}

div.mensaje {
    margin-top: 20px;
}

input.mensajeText {
    height: 200px;
    width: 1000px;
}

div.submit {
    margin-top: 20px;
}

input.enviar {
    background-color: rgb(0, 128, 233);
    height: 50px;
    width: 1000px;
    color: white;
} */