.card-body {
    background-color: white;
    color:black;

        &:hover {
        transform: scale(1.1);
        
    }
}


/* Fotos de Carrusel y Quienes somos */


@mixin fotoPrincipal {
    margin-top: -7px;
}

.carrusel, .qs__img {
    @include fotoPrincipal();
}

img{
    border-radius: 5px;
}